	//ul {
    //  background-color: #88aa00;/*ul範囲のカラーをグリーンにする*/
    //  padding: 10px 20px;/*ボックス内側に余白*/

    }
    li {
        list-style-type: none;/*noneはマーカー（・とか◆とか）なし*/
        display: inline;/*liを横一列にする*/
        padding: 1px;
    }

    //li a:link{
    //    color: #ffffff;
    //}

    //li a:visited{
    //    color: ##eeee00;
    //}

    //li a:hover{/*ポインタを合わせた時のリンク*/
    //    color: #000000;
    //   text-decoration: none;/*下線を消す*/

    //}
    ul {
        list-style-type: none;
        margin: 0;
        padding:  0;
        font-size: 12px;
        overflow: hidden;
        background-color: #88aa00;
    }

    li {
        float: left;
        margin-right: 0px;
        width: 125px;
        text-align: center;
        border-right: solid 1px #ffffff;
    }
    li:first-child a {
        border-left: solid 1px #ffffff;

    }
    li a {
        display: block;
        padding-top: 15px;
        padding-bottom: 10px;
        border-bottom: solid 5px transparent;
        text-decoration: none;
    }

    il a link{
        color: #ffffff;
        text-decoration: none;
    }

    il a:visited{
        color: #eeee00;
        text-decoration: none;
    }

    li a:hover {
        color: #000000;
        text-decoration: none;
        border-bottom: solid 5px #cc9900;
    }

    
    body {
        color: #535353;/*カラーをグレイに設定（数字6桁の左2桁は赤の強さ、真ん中は緑、右は青）*/
        font-size: 13px;
        line-height: 1.5;/*行間*/
        text-align: center;/*センタリング*/

	}
    
    #wrap { /*"wrap"と名前を付けた部分の幅を770pxに設定*/
        width:770px;/*"wrap"と名前を付けた部分の幅を770pxに設定*/
        margin: 0 auto;/*センタリング*/
        text-align: left;/*文字は左詰め*/
    }
    .itemphoto {/*class"itemphoto"と名前を付けた部分のスタイル*/
        float: left;/*左寄せ*/
        margin-right: 20px;
        margin-bottom: 50px;

    }

    h2 {
    	font-size: 150%;
    	border-left: 15px solid #668800;/*ボックスの左に線を入れる*/
    	padding-left: 20px;/*ボックスの内側左に余白を入れる*/
    	color: blue;/*自力で追加*/
    }

    h3 {
        padding: 5px;
        border: 1px solid #668800;
        font-size: 154%;
        clear: left;/*floteの影響を受けずに左寄せ*/
       }
    h4 {
        font-size: 124%;
       }

    table {
        border: 3px ridge #666666;
        border-collapse: collapse;/*隣接する線を重ねて表示する*/
        box-shadow: 10px 10px;/*自力で追加。ボックスに影をつける*/
    }
    th {
        border: 1px solid #999999;
        padding: 10px;
        background-color :#cccccc;
    }

    td{
        border: 1px solid #999999;
        padding: 10px;
        background-color :#eeeeee;
    }

    address {
    	font-size: 85%;/*フォントサイズはbodyで設定した数値の85％にする*/
    	font-style: normal;/*斜体表示を元に戻す*/
    	text-align: right;/*右に寄せる*/
    	border-top: 1px solid #000000;/*ボックスの上部に線を入れる*/
    	padding-top: 10px;/*ボックスの内側上部に余白*/
        clear: left;/*floteの影響を受けずに左寄せ*/
    }
    
    //header {/*自力で追加*/
    	background-color: #ff2000;
        border-style : solid;/*solidは一本線*/
        border-color : #000000;
        border-radius: 10px;/*角を丸く*/
        font-size: 100%;
        font-family: "メイリオ", Meiryo, sans-serif;
    }/*自力で追加*/