	body {
        color: #535353;/*カラーをグレイに設定（数字6桁の左2桁は赤の強さ、真ん中は緑、右は青）*/
        font-size: 13px;
        line-height: 1.5;/*行間*/

	}
    
    h2 {
    	font-size: 185%;
    	border-left: 15px solid #668800;/*ボックスの左に線を入れる*/
    	padding-left: 20px;/*ボックスの内側左に余白を入れる*/
    	color: blue;/*自力で追加*/
        }

    h3 {
        padding: 5px;
        border: 1px solid #668800;
        font-size: 154%;
       }
    h4 {
        font-size: 124%;
       }

    table {
        border: 3px ridge #666666;
        border-collapse: collapse;/*隣接する線を重ねて表示する*/
    }
    th {
        border: 1px solid #999999;
        padding: 10px;
        background-color :#cccccc;
    }

    td{
        border: 1px solid #999999;
        padding: 10px;
        background-color :#eeeeee;
    }

    address {
    	font-size: 85%;/*フォントサイズはbodyで設定した数値の85％にする*/
    	font-style: normal;/*斜体表示を元に戻す*/
    	text-align: right;/*右に寄せる*/
    	border-top: 1px solid #000000;/*ボックスの上部に線を入れる*/
    	padding-top: 10px;/*ボックスの内側上部に余白*/
    }
    
    header {/*自力で追加*/
    	background-color: #ffff50;
        border-style : solid;
        border-color : #000000;
        font-size: 110%;
        font-family: "メイリオ", Meiryo, sans-serif;
    }/*自力で追加*/